.clearfix:before,
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1; /* IE < 8 */
}

.inline-edit-container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.inline-edit-row:before,
.inline-edit-row:after {
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
}
.inline-edit-row:after {
	clear: both;
}
.inline-edit-row {
	zoom: 1; /* IE < 8 */
}

.inline-edit-va-wrap {
	display: table;
}
.inline-edit-va-m {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.inline-edit-a-c {
	text-align: center;
}
.inline-edit-a-l {
	text-align: left;
}

.btn-primary { color: #fff !important; font-weight: 400 !important; text-decoration: none !important; text-transform: lowercase !important; letter-spacing: 0px !important; font-family: arial !important; }

span[id^="inline-edit-"] { /* CONTENT ASSOCIATED WITH BUTTON */
	display: inline-block;
}

.inline-edit-link {
	position: absolute !important;
	margin-top: 5px;
	left: auto !important;
	right: 5px !important;
	font-size: 16px !important;
	z-index: 999;
	box-sizing: border-box;
	line-height: 14px !important;
	display: inline-block;
	cursor: pointer;
}
.inline-edit-link > [class^="inline-edit-icon-"] {
	position: relative !important;
	display: inline-block !important;
}

/* Button without label */
.inline-edit-link.inline-edit-link-compact {
	width: 28px;
	height: 28px;
	padding: 7px;
	color: transparent !important;
	overflow: hidden;
	display: block;
	top: 0;
	right: 0 !important;
	margin: 0;
	text-align: center;
}
.inline-edit-link.inline-edit-link-compact > [class^="inline-edit-icon-"] {
	margin: 0;
	color: white;
	text-align: center;
}

.custom-btn {
	z-index: 999999;
	color: #FFF !important;
	font-size: 14px !important;
	letter-spacing: 0px;
	font-weight: normal;
	font-family: arial;
	text-decoration: none;
	text-transform: lowercase;
	padding: 7px 10px;
	transition: 0.3s;
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	backface-visibility: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

.custom-btn [class^="inline-edit-icon-"] {
	margin-right: 6px;
	font-size: inherit !important;
}

.custom-btn:hover, .custom-btn:focus {
	color: #FFF;
}

.inline-edit-edit:hover .custom-btn {
	opacity: 0.4;
}

.inline-edit-widget {
	background-color: #fff;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.06);
	position: fixed;
	top: 20px;
	right: 0;
	z-index: 8009;
	overflow: hidden;
}

/* Toolbar */
.inline-edit-toolbar {
	top: 80px;
	height: 40px;
	width: 160px;
	right: auto;
	left: 100%;
	-webit-transition: all 220ms ease-in-out;
	-moz-transition: all 220ms ease-in-out;
	-o-transition: all 220ms ease-in-out;
	transition: all 220ms ease-in-out;
	-webkit-transform: translate3d(-40px, 0, 0);
	-moz-transform: translate3d(-40px, 0, 0);
	-ms-transform: translate3d(-40px, 0, 0);
	-o-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}
.inline-edit-toolbar.inline-edit-has-analytics {
	width: 200px;
}
.inline-edit-toolbar:hover {
	-webkit-transform: translate3d(-160px, 0, 0);
	-moz-transform: translate3d(-160px, 0, 0);
	-ms-transform: translate3d(-160px, 0, 0);
	-o-transform: translate3d(-160px, 0, 0);
	transform: translate3d(-160px, 0, 0);
}
.inline-edit-toolbar.inline-edit-has-analytics:hover {
	-webkit-transform: translate3d(-200px, 0, 0);
	-moz-transform: translate3d(-200px, 0, 0);
	-ms-transform: translate3d(-200px, 0, 0);
	-o-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);
}
.inline-edit-logo {
	background-color: #9ad4c9;
	color: #fff;
	font-size: 30px;
	line-height: 30px !important;
	display: inline-block;
	float: left;
	padding: 5px;
	box-shadow: 2px 0 5px rgba(0,0,0,0.08);
	position: relative;
	z-index: 100001;
	text-decoration: none;
}
.inline-edit-logo i {
	width: 30px;
	height: 100%;
	text-align: center;
	display: block;
	font-size: 26px;
	line-height: 26px !important;
	padding: 2px 0;
	position: relative;
	top: 2px;
	color: #fff;
}
.inline-edit-toolbar ul {
	list-style-type: none;
	color: #fff;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 120px;
	float: left;
}
.inline-edit-toolbar.inline-edit-has-analytics ul {
	width: 160px;
}
.inline-edit-toolbar ul li {
	float: left;
	height: 100%;
	width: 40px;
	cursor: pointer;
}
.inline-edit-toolbar ul li a {
	height: 100%;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 10px 8px 10px;
	border-bottom: 2px solid transparent;
	transition: all 220ms ease-in;
	text-decoration: none;
	/*color: #ec0b43;*/
}
.inline-edit-toolbar ul li.active a {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.inline-edit-toolbar ul li a:hover i {
	-webkit-animation: inline-edit-rotating 0.2s linear infinite;
	-moz-animation: inline-edit-rotating 0.2s linear infinite;
	-o-animation: inline-edit-rotating 0.2s linear infinite;
	animation: inline-edit-rotating 0.2s linear infinite;
}
.inline-edit-toolbar ul i {
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 22px;
	line-height: 22px;
	position: relative;
}
.inline-edit-toolbar ul li.inline-edit-close-toggle a:hover i {
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
}
.inline-edit-toolbar ul li.inline-edit-close-toggle a:hover {
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
	/*background-color: #ec0b43;*/
	color: #fff;
}

/* SEO widget */
.inline-edit-seo {
	top: 140px;
	padding: 20px;
	font-family: arial, sans-serif;
	color: #545454;
	font-size: 13px;
	line-height: 19px;
	width: 512px;
	right: auto;
	left: 100%;
	box-sizing: content-box;
	-webit-transition: all 220ms ease-in-out;
	-moz-transition: all 220ms ease-in-out;
	-o-transition: all 220ms ease-in-out;
	transition: all 220ms ease-in-out;
}
.inline-edit-seo.open {
	-webkit-transform: translate3d(-552px, 0, 0);
	-moz-transform: translate3d(-552px, 0, 0);
	-ms-transform: translate3d(-552px, 0, 0);
	-o-transform: translate3d(-552px, 0, 0);
	transform: translate3d(-552px, 0, 0);
}
.inline-edit-google-title {
	color: #1a0dab;
	font-size: 19px;
	line-height: 22px;
}
.inline-edit-google-url {
	color: #006621;
	font-size: 15px;
	line-height: 18px;
}
.inline-edit-google-description {
	margin-top: 2px;
}

/* Unleash analytics */
.inline-edit-analytics {
	overflow: hidden;
	-webit-transition: all 330ms ease-in-out;
	-moz-transition: all 330ms ease-in-out;
	-o-transition: all 330ms ease-in-out;
	transition: all 330ms ease-in-out;
	background-color: #fff;
	height: 0;
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 1001;
}
.inline-edit-analytics.open {
	height: 185px;
}
.inline-edit-analytics.open + .inline-edit-body-wrap {
	margin-bottom: 150px;
}
.inline-edit-body-wrap {
	height: 100%;
	position: relative;
	z-index: 2;
	-webit-transition: all 330ms ease-in-out;
	-moz-transition: all 330ms ease-in-out;
	-o-transition: all 330ms ease-in-out;
	transition: all 330ms ease-in-out;
}
.inline-edit-analytics-inner {
	box-sizing: border-box;
	padding: 10px 25px 10px 25px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-top: 5px solid #eee;
}

/* EMAIL OVERVIEW */
.inline-edit-email-overview {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 8008;
	top: 0;
	left: 0;
	pointer-events: none;
	transition: all 350ms ease-in-out;
	transform: translateY(0px);
	opacity: 1;
	color: #808080;
	font-weight: 300;
	font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif !important;
}
.inline-edit-email-overview.inline-edit-hide {
	transform: translateY(100px);
	opacity: 0;
	z-index: -1;
}
.inline-edit-email-overview .inline-edit-email-wrapper {
	padding: 0;
}
.inline-edit-email-overview .inline-edit-email-wrapper .inline-edit-container {
	position: relative;
	height: 100%;
}
.inline-edit-email-wrapper .inline-edit-email-header, .inline-edit-email-wrapper .inline-edit-email-frame {
	border: 1px solid #eee;
	box-sizing: border-box;
	background: #fff;
	text-shadow: none;
}
.inline-edit-email-wrapper .inline-edit-email-header .inline-edit-ul {
	box-sizing: border-box;
	padding-left: 24px;
	margin: 0;
	list-style-type: none;
	line-height: normal !important;
}
.inline-edit-email-wrapper .inline-edit-email-header .inline-edit-ul .inline-edit-li {
	font-size: 13px;
	padding: 7px 0;
	border-bottom: 1px solid #eee;
	letter-spacing: 1px;
	line-height: normal !important;
	color: #222;
	text-align: left;
}
.inline-edit-email-wrapper .inline-edit-email-header .inline-edit-ul .inline-edit-li .inline-edit-span {
	color: #222;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to {
	cursor: text;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to i[class^="inline-edit-icon"] {
	color: #ddd;
	font-size: 16px;
	position: relative;
	top: 1px;
	margin-left: 5px;
	display: inline-block;
	cursor: pointer;
	transition: color 220ms ease-in-out;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to i[class^="inline-edit-icon"].inline-edit-hide {
	display: none;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to i.inline-edit-icon-plane {
	font-size: 23px;
	margin: 0;
	padding: 0 5px;
	height: 23px;
	line-height: 23px;
	float: right;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to span {
	outline: none;
	display: inline-block;
	min-width: 1px;
	min-height: 17px;
	padding: 3px 0;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to:before {
	/*content: "To: ";*/
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to:after {
	transition: opacity 220ms ease-in-out;
	content: "Type recipients of test email (default recipients will remain unchanged)";
	opacity: 0;
	font-size: 12px;
	letter-spacing: 0;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to.disable-helper-text:after {
	display: none;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to:hover:after {
	opacity: 0.8;
}
.inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-to .inline-edit-span.inline-edit-highlight {
	color: #fff;
}
.inline-edit-email-wrapper .inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-email-addresses .inline-edit-span {
	border-radius: 3px;
	padding: 3px 4px;
	background-color: #eee;
	display: inline-block;
	margin-right: 4px;
}
.inline-edit-email-wrapper .inline-edit-email-header .inline-edit-ul .inline-edit-li.inline-edit-subject {
	position: relative;
}
.inline-edit-email-wrapper .inline-edit-email-header .inline-edit-ul .inline-edit-li:last-child {
	border-bottom: 0px solid transparent;
}
.inline-edit-email-wrapper .inline-edit-email {
	position: absolute;
	top: 0;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.06);
	width: 100%;
	height: 100%;
	transition: all 350ms ease-in-out;
	transform: translateY(0px);
	opacity: 1;
	z-index: 9;
}
.inline-edit-email-wrapper .inline-edit-email.inline-edit-hide {
	transform: translateY(100px);
	opacity: 0;
	z-index: auto;
}
.inline-edit-email-frame {
	width: 100%;
	height: 100%;
	display: block;
}

.inline-edit-opt-l {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
.inline-edit-select {
	display: inline-block;
	position: relative;
	z-index: 10;
}
.inline-edit-select .inline-edit-current {
	min-width: 320px;
	text-align: center;
	font-size: 22px;
	cursor: pointer;
	transition: color 300ms ease-in-out;
	padding: 9px 12px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.04);
}
.inline-edit-select:hover {
	color: #777;
}
.inline-edit-select:hover .inline-edit-options {
	color: #aaa;
}
.inline-edit-select .inline-edit-current:after {
	content: "»";
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: 3px;
	transform: rotate(90deg);
}
.inline-edit-select .inline-edit-options {
	min-width: 320px;
	margin: 0;
	position: absolute;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	padding: 0;
	list-style-type: none;
	transform: translateY(-20px);
	transition: all 300ms ease-in-out;
	opacity: 0;
	pointer-events: none;
}
.inline-edit-select .inline-edit-options.inline-edit-open {
	opacity: 1;
	transform: translateY(7px);
	pointer-events: all;
}
.inline-edit-select .inline-edit-option {
	padding: 5px 20px 0 20px;
	font-size: 18px;
	transition: all 220ms ease-in-out;
	cursor: pointer;
	text-align: center;
}
.inline-edit-select .inline-edit-option:hover {
	background-color: #eee;
}
.inline-edit-select .inline-edit-option:after {
	content: " ";
	margin-top: 4px;
	height: 1px;
	display: block;
	background-color: #e6e6e6;
}
.inline-edit-select .inline-edit-option:last-child:after {
	background-color: transparent;
}

.inline-edit-header, .inline-edit-footer {
	color: #aaa;
}
.inline-edit-header {
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 0;
}
.inline-edit-email, .inline-edit-select {
	pointer-events: all;
}

.inline-edit-fancybox .fancybox-overlay {
	z-index: 1000001;
}
.inline-edit-fancybox.fancybox-opened {
	z-index: 1000002;
}
.inline-edit-fancybox #fancybox-loading {
	z-index: 1000001;
}

/* FANCYBOX */
.inline-edit-fancybox .fancybox-skin {
	border-radius: 0;
	background-color: #f3f3f4;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.06);
	border: 1px solid rgba(0, 0, 0, 0.06);
	padding: 25px !important;
}
.inline-edit-fancybox .fancybox-skin:after {
	content: " ";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 95px;
	background-color: #f5f5f5;
}
.inline-edit-fancybox .fancybox-outer {
	z-index: 1;
}
.inline-edit-fancybox .fancybox-outer:after {
	font-family: "Esign Shop Inline Editing";
	content: "\0042";
	display: inline-block;
	color: #fff;
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.inline-edit-fancybox-overlay {
	background-image: none;
	background-color: #f3f3f4;
	opacity: 0.55;
}
.inline-edit-fancybox .fancybox-close {
	border: none;
	text-align: center;
	background: none;
	display: block;
}
.inline-edit-fancybox .fancybox-close:after {
	font-family: "Esign Shop Inline Editing";
	content: "\0048";
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	padding: 10px;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.04);
	-webit-transition: all 220ms ease-in-out;
	-moz-transition: all 220ms ease-in-out;
	-o-transition: all 220ms ease-in-out;
	transition: all 220ms ease-in-out;
}
.inline-edit-fancybox .fancybox-close:hover:after {
	background-color: #f8f8f8;
}

.inline-edit-fancybox iframe { visibility: hidden; }
.inline-edit-fancybox iframe.visible { visibility: visible; }

/* POPUP WINDOWS */
.inline-edit-popup {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.6);
	color: #808080;
	font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif !important;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	transition: background-color 220ms ease-in-out;
}
.inline-edit-popup-inner {
	min-width: 400px;
	background-color: #fff;
	padding: 35px;
	border: 1px solid #e6e6e6;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.04);
	display: inline-block;
	font-size: 16px;
	opacity: 1;
	transform: translateY(0px);
	transition: all 220ms ease-in-out;
}
.inline-edit-popup-inner ul {
	padding: 0;
	margin: 0;
}
.inline-edit-popup.inline-edit-hide {
	background-color: rgba(255,255,255,0);
}
.inline-edit-popup.inline-edit-hide .inline-edit-popup-inner {
	opacity: 0;
	transform: translateY(50px);
}
.inline-edit-popup-inner .inline-edit-icon-esign {
	color: #9ad4c9;
	font-size: 60px;
}
.inline-edit-popup-inner .inline-edit-sure {
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
}
.inline-edit-popup-buttons {
	text-align: center;
	margin-top: 20px;
}
.inline-edit-popup-button {
	display: inline-block;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	width: 120px;
	margin: 0 3px;
	padding: 5px 10px;
	transition: background-color 220ms ease-in-out;
	cursor: pointer;
}
.inline-edit-popup-button-positive {
	background-color: #9ad4c9;
}
.inline-edit-popup-button-positive:hover {
	background-color: #7eaea5;
}
.inline-edit-popup-button-negative {
	background-color: #d46b69;
}
.inline-edit-popup-button-negative:hover {
	background-color: #a35251;
}

@-webkit-keyframes inline-edit-rotating {
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	25%{
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	75%{
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-moz-keyframes inline-edit-rotating {
	0%{
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	25%{
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	75%{
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	100%{
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-o-keyframes inline-edit-rotating {
	0%{
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	25%{
		-o-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	75%{
		-o-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	100%{
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes inline-edit-rotating {
	0%{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	25%{
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	75%{
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-o-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}